.main {
  background-color: beige;
  margin: 2% auto;
  border-radius: 5px;
  padding: 1%;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: medium;
  text-align: center;
}
